{% extends "base.html" %}

{% block title %}Budget Overview - Wallet Guard{% endblock %}

{% block content %}
    <h2 class="text-3xl font-bold mb-6">Budget Overview</h2>
    <a href="{% url  'wallet:create-budget'  %}" class="text-white">Add Budget</a>
    <table class="min-w-full bg-white border border-gray-300 mt-4">
        <thead>
            <tr>
                <th class="py-2 px-4 border-b">Category</th>
                <th class="py-2 px-4 border-b">Allocated</th>
                <th class="py-2 px-4 border-b">Actions</th>
            </tr>
        </thead>
	<tbody>
		{% for budget in budgets %}
		    <tr>
			<td class="py-2 px-4 border-b">{{ budget.name }}</td>
			<td class="py-2 px-4 border-b">{{ budget.amount }}</td>
			<td class="py-2 px-4 border-b">
			    <a href="{% url 'wallet:update-budget' budget.pk  %}" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 rounded">Edit</a>
			    <a href="{% url 'wallet:delete-budget' budget.pk %}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Delete</a>
			</td>
		    </tr>
		{% endfor %}

        </tbody>
    </table>
    <div id="budget-form"></div>
{% endblock %}

